<div class="container">
    <h2>Forgot Password</h2>
    <div class="position-relative">
        <div *ngIf="loading" class="loader-overlay">
            <img src="assets/loaderImage.gif" class="loader-overlay" alt="loading" />
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form (ngSubmit)="validateUser(forgotPasswordForm)" #forgotPasswordForm="ngForm">
                    <div class="form-group">
                        <label for="userName">userName</label>
                        <input type="text" id="userName" name="userName" class="form-control" [(ngModel)]="user.userName"
                            required #userNameInput="ngModel">
                        <div *ngIf="userNameInput.touched && userNameInput.errors?.['required']" class="text-danger">
                            User name is
                            required.</div>
                    </div>
                    <div class="form-group">
                        <label for="favouriteColor">Favourite color</label>
                        <input type="text" id="favouriteColor" name="favouriteColor" class="form-control" [(ngModel)]="user.favouriteColor"
                            required #favouriteColorInput="ngModel">
                        <div *ngIf="favouriteColorInput.touched && favouriteColorInput.errors?.['required']" class="text-danger">
                            Favourite color is
                            required.</div>
                    </div>
                    <div class="form-group">
                        <label for="favouriteNumber">favourite number</label>
                        <input type="text" id="favouriteNumber" name="favouriteNumber" class="form-control" [(ngModel)]="user.favouriteNumber"
                            required #favouriteNumberInput="ngModel">
                        <div *ngIf="favouriteNumberInput.touched && favouriteNumberInput.errors?.['required']" class="text-danger">
                            Favourite number is
                            required.</div>
                    </div>
                    <div class="form-group">
                        <label for="bestFriend">bestFriend</label>
                        <input type="text" id="bestFriend" name="bestFriend" class="form-control" [(ngModel)]="user.bestFriend"
                            required #bestFriendInput="ngModel">
                        <div *ngIf="bestFriendInput.touched && bestFriendInput.errors?.['required']" class="text-danger">
                            Best friend name is
                            required.</div>
                    </div>
                    <button type="submit" class="btn btn-primary" [disabled]="!forgotPasswordForm.valid">Validate User</button>
                </form>
            </div>
        </div>
    </div>
</div>