<div class="container">
    <h2 class="text-center">Update Contact Reactive Form</h2>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form [formGroup]="updateContactForm" class="needs-validation" (ngSubmit)="onSubmit()" novalidate>
                <div class="mb-3">
                    <label class="form-label" for="countryId">Country Name:</label>
                    <select id="countryId" formControlName="countryId" class="form-control" (change)="onCountryChange()" required>
                        <option value="">Select your country</option>
                        <option *ngFor="let country of countries" [value]="country.countryId">{{ country.countryName }}</option>
                    </select>
                    <div *ngIf="updateContactForm.get('countryId')?.invalid && updateContactForm.get('countryId')?.touched">
                        <small class="text-danger">Country is required.</small>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="stateId">State Name:</label>
                    <select id="stateId" formControlName="stateId" class="form-control" required>
                        <option value="">Select your state</option>
                        <option *ngFor="let state of states" [value]="state.stateId">{{ state.stateName }}</option>
                    </select>
                    <div *ngIf="updateContactForm.get('stateId')?.invalid && updateContactForm.get('stateId')?.touched">
                        <small class="text-danger">State is required.</small>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="firstName">First name:</label>
                    <input type="text" class="form-control" id="firstName" formControlName="firstName">
                    <div *ngIf="updateContactForm.get('firstName')?.invalid && updateContactForm.get('firstName')?.touched">
                        <small class="text-danger" *ngIf="updateContactForm.get('firstName')?.errors?.['required']">First name is required.</small>
                        <small class="text-danger" *ngIf="updateContactForm.get('firstName')?.errors?.['minlength']">First name must be at least 3 characters long.</small>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="lastName">Last name:</label>
                    <input type="text" class="form-control" id="lastName" formControlName="lastName">
                    <div *ngIf="updateContactForm.get('lastName')?.invalid && updateContactForm.get('lastName')?.touched">
                        <small class="text-danger" *ngIf="updateContactForm.get('lastName')?.errors?.['required']">Last name is required.</small>
                        <small class="text-danger" *ngIf="updateContactForm.get('lastName')?.errors?.['minlength']">Last name must be at least 3 characters long.</small>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="contactNumber">Contact number:</label>
                    <input type="text" class="form-control" id="contactNumber" formControlName="contactNumber">
                    <div *ngIf="updateContactForm.get('contactNumber')?.invalid && updateContactForm.get('contactNumber')?.touched">
                        <small class="text-danger" *ngIf="updateContactForm.get('contactNumber')?.errors?.['required']">Contact number is required.</small>
                        <small class="text-danger" *ngIf="updateContactForm.get('contactNumber')?.errors?.['minlength']">Contact number should not be less than 10 digits.</small>
                        <small class="text-danger" *ngIf="updateContactForm.get('contactNumber')?.errors?.['maxlength']">Contact number should not be more than 10 digits.</small>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="email">Email:</label>
                    <input type="email" class="form-control" id="email" formControlName="email">
                    <div *ngIf="updateContactForm.get('email')?.invalid && updateContactForm.get('email')?.touched">
                        <small class="text-danger" *ngIf="updateContactForm.get('email')?.errors?.['required']">Email is required.</small>
                        <small class="text-danger" *ngIf="updateContactForm.get('email')?.errors?.['email']">Invalid email format.</small>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="contactDescription">Contact description:</label>
                    <input type="text" class="form-control" id="contactDescription" formControlName="contactDescription">
                    <div *ngIf="updateContactForm.get('contactDescription')?.invalid && updateContactForm.get('contactDescription')?.touched">
                        <small class="text-danger" *ngIf="updateContactForm.get('contactDescription')?.errors?.['required']">Contact description is required.</small>
                        <small class="text-danger" *ngIf="updateContactForm.get('contactDescription')?.errors?.['minlength']">Contact description must be at least 3 characters long.</small>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="imageByte">Profile Image:</label>
                    <input type="file" class="form-control" id="imageByte"  #imageInput (change)="onFileSelected($event)">
                    <!-- Add the cross button to remove the selected file -->
                    <small class="text-danger" *ngIf="fileSizeExceeded">
                        Image size cannot be greater than 50KB                
                            </small>
                            <small class="text-danger" *ngIf="fileFormatInvalid">
                        Image can only be jpg,png or jpeg               
                            </small>
                </div>

                <!-- Display the uploaded image -->
                <div class="mb-3" *ngIf="imageUrl && !fileSizeExceeded">
                    <img *ngIf="imageUrl " [src]="imageUrl" id="displayImage" alt="Uploaded Image" class="img-thumbnail"
                        style="max-width: 200px; max-height: 200px;">
                        <button type="button" class="btn btn-danger" *ngIf="imageUrl" (click)="removeFile()"><i class="fas fa-times"></i></button>

                </div>
                <div class="mb-3">
                    <label class="form-label">Gender:</label>
                    <div>
                        <input type="radio" id="male" formControlName="gender" value="M">
                        <label class="form-label" for="male">Male</label>
                    </div>
                    <div>
                        <input type="radio" id="female" formControlName="gender" value="F">
                        <label class="form-label" for="female">Female</label>
                    </div>
                    <div *ngIf="updateContactForm.get('gender')?.invalid && updateContactForm.get('gender')?.touched">
                        <small class="text-danger">Gender is required.</small>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="address">Address:</label>
                    <input type="text" class="form-control" id="address" formControlName="address">
                    <div *ngIf="updateContactForm.get('address')?.invalid && updateContactForm.get('address')?.touched">
                        <small class="text-danger" *ngIf="updateContactForm.get('address')?.errors?.['required']">Address is required.</small>
                        <small class="text-danger" *ngIf="updateContactForm.get('address')?.errors?.['minlength']">Address must be at least 3 characters long.</small>
                    </div>
                </div>
                <div class="mb-3">
                    <div>
                        <input type="checkbox" id="favourite" formControlName="favourite">
                        <label class="form-label" for="favourite">Add to Favourite</label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="updateContactForm.invalid">Submit</button>
                <a [routerLink]="['/searchContact']" routerLinkActive="router-link-active">Back to list</a>
            </form>
        </div>
    </div>
</div>
