@model ForgotPasswordViewModel
<h1>Validate User</h1>
<h3 class="text-center">Enter password recovery details</h3>
<form asp-action="ForgotPassword" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="UserName" class="control-label"></label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="FavouriteColor" class="control-label"></label>
        <input asp-for="FavouriteColor" class="form-control" />
        <span asp-validation-for="FavouriteColor" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="FavouriteNumber" class="control-label"></label>
        <input asp-for="FavouriteNumber" class="form-control" />
        <span asp-validation-for="FavouriteNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BestFriend" class="control-label"></label>
        <input asp-for="BestFriend" class="form-control" />
        <span asp-validation-for="BestFriend" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>
</form>